@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-width: 320px;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --nav-h: 3rem;
  --subnav-h: 3rem;
  --border-color: lightgray;
  --carbs-color: #8d4d00d9;
  --fats-color: #2fa800e0;
  --prots-color: #6767dd;
}

:root.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --border-color: rgb(58, 58, 58);
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

*,
*::before,
*::after,
a {
  -webkit-tap-highlight-color: transparent;
}

* {
  border-color: var(--border-color);
}

.dark {
  color-scheme: dark;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

ul {
  padding: 0 2rem;
}

li {
  list-style: outside;
  padding: 0.2rem 0;
}

.material-icons.md-12,
.material-icons-outlined.md-12,
.material-icons-round.md-12,
.material-icons-sharp.md-12,
.material-icons-two-tone.md-12 {
  font-size: 12px;
}
.material-icons.md-14,
.material-icons-outlined.md-14,
.material-icons-round.md-14,
.material-icons-sharp.md-14,
.material-icons-two-tone.md-14 {
  font-size: 14px;
}
.material-icons.md-18,
.material-icons-outlined.md-18,
.material-icons-round.md-18,
.material-icons-sharp.md-18,
.material-icons-two-tone.md-18 {
  font-size: 18px;
}
.material-icons.md-24,
.material-icons-outlined.md-24,
.material-icons-round.md-24,
.material-icons-sharp.md-24,
.material-icons-two-tone.md-24 {
  font-size: 24px;
}
.material-icons.md-30,
.material-icons-outlined.md-30,
.material-icons-round.md-30,
.material-icons-sharp.md-30,
.material-icons-two-tone.md-30 {
  font-size: 30px;
}
.material-icons.md-36,
.material-icons-outlined.md-36,
.material-icons-round.md-36,
.material-icons-sharp.md-36,
.material-icons-two-tone.md-36 {
  font-size: 36px;
}
.material-icons.md-48,
.material-icons-outlined.md-48,
.material-icons-round.md-48,
.material-icons-sharp.md-48,
.material-icons-two-tone.md-48 {
  font-size: 48px;
}

#nprogress .bar {
  background: #22c55e;
}

table {
  width: 100%;
  overflow: scroll;
  max-width: 100vw;
}

td,
th {
  border: 1px solid #777;
  padding: 1rem;
  vertical-align: top;
}

@media screen and (max-width: 680px) {
  table {
    font-size: 10px;
  }
  td,
  th {
    padding: 0.25rem;
  }
}
